@mixin indent($margin, $padding) {
  margin: $margin;
  padding: $padding;
}

@mixin list() {
  list-style: none;
}

@mixin wrapper() {
  width: 100%;
}

@mixin underline() {
  text-decoration: underline;
}
