$background: rgb(202, 202, 202);
$text_color: rgb(136, 136, 136);
$main_button: rgb(2, 119, 153);
$menu_bg: rgb(85, 85, 85);
$active: rgb(73, 156, 204);
$popup_page_bg: rgb(153, 153, 153);
$popup_bg: rgb(204, 204, 204);
$popup-btn: rgb(85, 145, 0);
$tab_width: 720px;