.footer {
  padding-top: 8px;
  padding-bottom: 10px;
  background-color: $background;
  color: $text_color;
}

.footer__text {
  @include indent(0, 0);
  margin-bottom: 8px;
  text-align: justify;
  letter-spacing: -0.01em;

  &--link {
    @include underline;
  }
}

.footer__back-link {
  @include underline;
  display: block;
  margin-left: 10px;
  color: inherit;
  font-size: 12px;
  text-align: center;
}
