.hamburger-toggle {
  padding: 0;
  border: none;
  background-color: transparent;
  height: 13px;
  display: block;
  &__bar {
    width: 15px;
    height: 3px;
    background-color: rgb(34, 34, 34);
    position: relative;
    top: 1px;
    &:before {
      @extend .hamburger-toggle__bar;
      display: block;
      content: "";
      position: absolute;
      top: 5px;
    }
    &:after {
      @extend .hamburger-toggle__bar;
      display: block;
      content: "";
      position: absolute;
      top: -5px;
    }
  }
  &--shown .hamburger-toggle__bar {
    transform: rotate(-15deg);
  }
}