.play-btn {
  @include indent(0, 0);
  border: 2px solid rgb(255, 255, 255);
  border-radius: 10px;
  background-color: rgb(2, 119, 154);
  color: rgb(255, 255, 255);
  min-width: 260px;
  padding: 15px 20px;
  font-size: inherit;
}

.play-btn__wrapper {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-bottom: 15px;
}

.play-btn__main-text {
  display: block;
  font-size: 40px;
  font-weight: 700;
}

.play-btn__icon {
  margin-left: 15px;
  display: block;
  width: 35px;
  height: 35px;
  background-image: url("../img/big-arrow.png");
  background-repeat: no-repeat;
  background-position: center;
}

.play-btn__notice {
  display: block;
}