@keyframes load-move {
  from { width: 0; }
  to { width: 92.5%; }
}

@keyframes play-move {
  from { width: 0; }
  to { width: 36%; }
}


.progress-bar {
  height: 10px;
  background-color: rgb(39, 39, 39);
  position: relative;

  &__play-position {
      position: absolute;
      top: 0;
      left: 0;
    width: 36%;
    height: 10px;
    background-color: rgb(73, 156, 204);
    z-index: 2;
    animation: play-move 5s infinite ease-in-out;
    animation-fill-mode: forwards;
    animation-iteration-count: 1;

    &::after {
        display: block;
        content: "";
        position: absolute;
        top: 50%;
        right: 0;
        transform: translate(50%, -50%);
        height: 16px;
        width: 16px;
        background-color: rgb(174, 174, 174);
        border: 5px solid rgb(255, 255, 255);
        border-radius: 50%;
    }
  }

  &__load-position {
    position: absolute;
    top: 0;
    left: 0;
    width: 92.5%;
    height: 10px;
    background-color: rgb(70, 70, 70);
    z-index: 1;
    animation: load-move 5s infinite ease-in-out;
    animation-fill-mode: forwards;
    animation-iteration-count: 1;
  }
}